body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
}

table {
  border-collapse: collapse
}

table th {
  font-weight: 600;
  text-align: left;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

a:link {
  text-decoration: none;
  color: #e64503;
}

a:visited {
  color: #e64503;
}

.important {
  color: #d00000;
  font-weight: 600;
}

.dd16 table th, .dd16 table td {
  padding: 3px 6px 0px 0px;
}

.dd16 table td.event {
  width: 175px;
}

.dd16 table td.result {
  min-width: 80px;
}

.dd16 table td.age {
  min-width: 80px;
}

.dd16 table td.continent {
  min-width: 130px;
}

.dd16 table td.country {
  width: 210px;
}

.dd16 select {
  /* Use 16px font for dropdowns to ensure iPhone does not zoom */
  font-size: 16px;
  width: 100%;
}

.dd14 table th, .dd14 table td {
  padding: 3px 6px 0px 0px;
}

.dd14 table td.event {
  min-width: 155px;
}

.dd14 table td.result {
  min-width: 75px;
}

.dd14 table td.age {
  min-width: 75px;
}

.dd14 table td.continent {
  min-width: 115px;
}

.dd14 table td.country {
  min-width: 180px;
}

.dd14 select {
  font-size: 14px;
  width: 100%;
}

.rankings table {
  font-size: 14px;
  width: 100%;
}

.rankings table th, .rankings table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.rankings table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.rankings table tr.highlight {
  background: Ivory;
  font-weight: 500;
}

.rankings table tr:hover {
  background: LightYellow;
}

.rankings table th.rank, .rankings table td.rank {
  text-align: center;
}

.rankings table th.result, .rankings table td.result {
  text-align: right;
}

.container {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.container img {
    max-width: 100%;
    box-sizing: content-box;
}
