body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

table {
  border-collapse: collapse
}

table th {
  font-weight: 600;
  text-align: left;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

.important {
  color: #d00000;
  font-weight: 600;
}

.dropdowns table th, .dropdowns table td {
  padding: 3px 6px;
}

.rankings table th, .rankings table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.rankings table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.rankings table th.rank, .rankings table td.rank {
  text-align: center;
}

.rankings table th.result, .rankings table td.result {
  text-align: right;
}

.container {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 8px;
}

.container img {
    max-width: 100%;
    box-sizing: content-box;
}
